h1 { font-style: italic;
    text-align:center;
    background-color: rgb(234, 0, 255);
}
h3{
    background-color: rgb(224, 226, 84);
}

p {
    text-align: center;
    font-size: medium;
}

strong {
    font-size: larger;
}

body {
    background-color: rgb(181, 146, 214);
}
.comida { 
    background-color: rgb(117, 76, 156); color: rgb(53, 53, 109);
}
.cabelo { 
    background-color: rgb(206, 68, 68); color: beige;
}
.imagem1 { 
    width: 35px;
}
.ul { display: inline;
padding: 4%;
margin-right: 20%;}
